

/* landing page ----------------- */
.navbar-nav a{
  font-weight: bold;
}
.nav-link{
    margin: 0;
    padding: 16px  40px;
}

.landing {
    background-image: -moz-linear-gradient( 90deg, rgb(211,213,208) 0%, rgb(210,212,207) 10%);
    background-image: -webkit-linear-gradient( 90deg, rgb(211,213,208) 0%, rgb(210,212,207) 10%);
    background-image: -ms-linear-gradient( 90deg, rgb(211,213,208) 0%, rgb(210,212,207) 10%);
    /* position: absolute; */
    /* left: 0px;
    top: 57px; */
    /* width: 100%; */
    height: 464px;
}
  

.call-pan{
        background-color: rgb(255, 255, 255);
        opacity: 0.859;
        box-shadow: 0px 4px 59.52px 2.48px rgba(60, 60, 60, 0.74);
        position: absolute;
        left: 5%;
        top: 16%;
        width: 247px;
        height: 338px;
        z-index: 94;
}


.announcements {
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 4px 33.6px 1.4px rgba(255, 137, 59, 0.54);
    /* left: 55px;
    top: 592px; */
    margin: 38px auto;
    width: 90%;
    height: 60px;
}



 /* the first section after the landing -------- */
  .section1 {
    background-image: -moz-linear-gradient( 180deg, rgb(200,0,23) 0%, rgb(153,28,30) 0%, rgb(193,18,0) 57%);
    background-image: -webkit-linear-gradient( 180deg, rgb(200,0,23) 0%, rgb(153,28,30) 0%, rgb(193,18,0) 57%);
    background-image: -ms-linear-gradient( 180deg, rgb(200,0,23) 0%, rgb(153,28,30) 0%, rgb(193,18,0) 57%);
    /* width: 1366px; */
    height: 628px;
}
  
  

/* the second section which contain the slides --------- */
.slide{
    height: 600px;
    overflow: hidden;
}
.carousel-caption{
  margin: auto;
}


/* the third section with news and related stuff --------- */
.section3{
  margin: 0;
}




/* FOOTER ---------------------------- */
.footer {
    background-image: -moz-linear-gradient( 180deg, rgb(200,0,23) 0%, rgb(153,28,30) 0%, rgb(193,18,0) 100%);
    background-image: -webkit-linear-gradient( 180deg, rgb(200,0,23) 0%, rgb(153,28,30) 0%, rgb(193,18,0) 100%);
    background-image: -ms-linear-gradient( 180deg, rgb(200,0,23) 0%, rgb(153,28,30) 0%, rgb(193,18,0) 100%);
    margin-top: 100px;
    height: 624px;

}

.gmap {
  background-color: rgb(255, 211, 179);
  position: relative;
  width: 100%;
  height: 290px;
  top: 46%;
  /* z-index: 1; */
}

  

