.nvbr{
	display: grid;
	grid-template-columns: 80% 20%;
	grid-template-rows: 25% 75%;

}
body{
	height: 100%;
}
.container{
	height: 100%;
	display: grid;
	grid-template-columns: 100%;
	grid-template-rows: 43% 17% 26% 40% 15% 10% 25%;
	grid-row-gap: 1%;
}
.container div{
	min-height: 5%;
	border: 1px solid black;
}
.first{
	background-image: url("UI/first.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	display: grid;
	grid-template-columns: 50% 50%;
	grid-template-rows: 50% 50%;
}
.first img{

}
.f_title{
	font-size: 3vw;
	text-align: right;
}

.f_text{
	font-size: 2vw;
	text-align: right;
}

.second{
	display: grid;
	grid-template-columns: 25% 25% 25% 25%;
	margin-top: -20px;

	padding-bottom: 0px;
	margin-bottom: 20px;
}
.second div{
	margin-left: 1vw;
	margin-right:  1vw;
	height: 100%;
	background-color: white;
	display: grid;
	grid-template-columns: 100%;
	grid-template-rows: 60% 40%;
}
.second div p{
	font-size: 3vw;
	text-align: center;
}
.third{
	display: grid;
	grid-template-columns: 45% 55%;
	background: rgb(5,60,168);
	background: linear-gradient(306deg, rgba(5,60,168,1) 27%, rgba(65,114,212,1) 52%, rgba(8,41,186,1) 92%);
}
.third div img {
	width: 100%;
	height :100%;
}
.fourth{
	display: grid;
	grid-template-rows: 10% 90%;

}
.fourth div p {
	font-size: 2vw;
	text-align: center;
}
