.nav_it {
	padding-left: 2vw;
	padding-right: 2vw;
}

.container {
	display: grid;
	align-items: center;
	grid-template-columns: 100%;
	grid-template-rows: 23vw 23vw 23vw 30vw;
	align-items: center;
	grid-gap: 20px;

}

.first_container{
	border: none;
	border-radius: 10px;
	margin-top: 6vw;
	display: grid;
	grid-template-columns: 39% 61%;
	grid-template-rows: 23vw;
	align-items: center; 
	background: rgb(43,104,244);
	background: linear-gradient(306deg, rgba(43,104,244,1) 30%, rgba(77,149,210,1) 56%);
	-webkit-box-shadow: 0px 0px 22px -1px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 0px 22px -1px rgba(0,0,0,0.75);
	box-shadow: 0px 0px 22px -1px rgba(0,0,0,0.75);
}
.second_container{
	display: grid;
	grid-template-columns: 66% 38%;
	grid-template-rows: 23vw;
	align-items: center;	
}

.third_container{
	display: grid;
	grid-template-columns: 25% 25% 25% 25%;
	grid-template-rows: 5vw 10vw 5vw;
	border: none;
	border-radius: 10px;
	margin-top: 6vw;

	background: rgb(43,104,244);
	background: linear-gradient(306deg, rgba(43,104,244,1) 30%, rgba(77,149,210,1) 56%);
	-webkit-box-shadow: 0px 0px 22px -1px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 0px 22px -1px rgba(0,0,0,0.75);
	box-shadow: 0px 0px 22px -1px rgba(0,0,0,0.75);
}
.fourth_container{
	margin-top:5vw;
	display: grid;
	grid-template-columns: 50% 50%;
	grid-template-rows: 14vw 12vw 6vw; /*14vw 12vw 6vw*/
}
.container img{
	height: 100%;
	display: block;
	margin:auto;
}
.container p{
	color: white;
	font-weight: normal;
	text-align: center;
	font-size: 2vw;
}
.second_container img{
	transform: rotate(8deg);


}
.second_container p{
	font-weight: bold;

	color: #0099ff;

}
.thrd_title{
	grid-column-start: span 4;
}
.thrd_title p{
	align-items: center;
	font-weight: bold;
	font-size: 4vw;
}
.third_container img{
	border-radius: 50%;
	width: 60%;

}


.map{
	grid-row: 1 / span 3;
}
.fourth_container p{
	font-weight: normal;
	text-align: right;
	color: #0099ff;

}
#contact-info p {
	font-size: 1.5vw !important;
}
.social_links{
	display: grid;
	grid-template-columns: 25% 25% 25% 25%;
	grid-template-rows: 100%;
	text-align:  center;
	color:#0099ff;
	align-items: center;
	justify-content: center;
}

.fa:hover {
	opacity: 0.7;
}
.ggl_map{
	width: 100%;
	height:100%;
}