.some-page-wrapper {
  margin: 15px;

}

.row {

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  padding: auto;
}

.column {
text-align:center;
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
}
.blue-column{

	margin:auto;
}
.green-column{
	margin:auto;
}
.nav_it {
	padding-left: 2vw;
	padding-right: 2vw;
}
.img {
	width:40vw;
	height:20vw;
	border-radius: 3%;
	 filter: drop-shadow(5px 5px 5px #222); 
            
}
p{
	width:40vw;
	height:20vw;
	text-align: center;
	background: rgb(217,216,233);
background: linear-gradient(306deg, rgba(217,216,233,1) 0%, rgba(100,157,207,1) 94%);
}
.info_text{
	font-size: 2vw;

}
	
}
body {
	background-image: url("UI/background.png");
	background-color: #cccccc;
}