body{
	margin: 0;
}
.main div{
	/*border: 1px solid black;*/
}
.main{
	min-width: 1000px;
	min-height: 1000px;
	display: grid;
	grid-template-rows: 4% 40% 5% 50% 10% 26%;
}

.first, .second{
	background: rgb(15,150,79);
	background: linear-gradient(297deg, rgba(15,150,79,1) 47%, rgba(10,219,65,1) 92%);
}
.first{
	display: grid;
	grid-template-columns: auto 15% 15% 15%;
}
.first p {
	margin: auto;
	padding: 8%;
	text-align: center;
	color: white;
}
a{
	color: white;
}
.second{
	display: grid;
	grid-template-columns: 50% 50%;
}
.second-left{
	margin-left: 10%;
	margin-right: 5%;
	margin-top: 13%;
	margin-bottom: -13%;
	background-color: white;
	border-radius: 3%;
	-webkit-box-shadow: 0px 0px 62px -19px rgba(0,0,0,0.68);
	-moz-box-shadow: 0px 0px 62px -19px rgba(0,0,0,0.68);
	box-shadow: 0px 0px 62px -19px rgba(0,0,0,0.68);

}
.second-right{
	margin-left: 5%;
	margin-right: 7%;
	display: grid;
	grid-template-rows: 42%  auto;
}
.second-right h1{
	text-align: center;
	font-size: 7vw;
	color: white;
}
.second-right p{
	padding-top: 21%;
	text-align: right;
	color: white;
	font-size: large;
}

.third{
	display: grid;
	grid-template-columns: auto 40%;
}
.third-right p{
	color: green;
	text-align: right;
	font-size: large;
	margin-right: 9%;
}
.fourth{
	display: grid;
	grid-template-columns: 50% 50%; 
}
.fourth-left, .fourth-right{
	margin-top: 10%;
}
.fourth-left{
	margin-left: 5%;
}
.fourth-left p{
	text-align: center;
	color: green;
	font-size: large;
	padding-top: 25%;
}
.fourth-right{
	margin-left:  3%;
	border: 5px solid black;

}
.sixth{
	display: grid;
	grid-template-columns: 50% 50%;
}
.sixth-left{
	display: grid;
	grid-template-rows: 25% 25% 25% 25%;
	margin-left: 10%;
}
.sixth-right p{
	text-align: right;
	margin: auto;
	vertical-align: ;
	padding-top: 23%;
	margin-right: 5%;
	color: green;
	font-size: large;
}