body{
	width: 100%;
}
.cont{
	    background-image: url(photos/web.jpg);
    background-color: #cccccc;
    background-repeat: no-repeat;
    background-size: auto;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-rows: 44% 57%;
}
.container{
	height: 1369px;
    display: grid;
    grid-template-rows: 80% 20%;
}
}
.container div{
	border: 1px solid red !important;
}
/*background-image: url(photos/web-mobile.jpg);
    background-color: #cccccc;
    background-repeat: no-repeat;
    background-size: cover;
    width: 98vw;
    height: 200vw;
    display: grid;
    grid-template-rows: 50% 50%;
}*/