.some-page-wrapper {
	margin-bottom: 20vw;
}

.row {

    margin-right: 0px !important;
    margin-left: 0px !important;

	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	width: 100%;
	padding: auto;
}

.column {
	text-align:center;
	display: flex;
	flex-direction: column;
	flex-basis: 100%;
	flex: 1;
}
.blue-column{
	margin:auto;
}
.green-column{
	margin:auto;
	margin-top: 0px
}
.nav_it {
	padding-left: 2vw;
	padding-right: 2vw;
}
.img {
	width:40vw;
	height:20vw;
	border-radius: 3%;
	filter: drop-shadow(5px 5px 5px #222); 

}
p{
	width:40vw;
	height:20vw;
	text-align: center;
	background: rgb(217,216,233);
	background: linear-gradient(306deg, rgba(217,216,233,1) 0%, rgba(100,157,207,1) 94%);
	margin-bottom: 0px !important;
}
.paragraph{
	margin-top: -1vw;
	position: absolute;
	border-radius: 10px;
	background: rgb(217,216,233);
	background: linear-gradient(306deg, rgba(217,216,233,1) 0%, rgba(100,157,207,1) 94%);
}
.info_text{
	font-size: 2vw;
	position: relative;
}

}
body {
	background-image: url("UI/background.png");
	background-color: #cccccc;
}
.info_link{
	font-size: 1vw !important;
	padding: 0 0 0  !important;
	margin: 2% 35% 2%;
	max-width: 10vw;
}
.img_containter{
	position: relative;
	z-index:1;
}
.crsl_slide{
	margin: auto;
	width: 89%;
}
.crsl_container{
	padding-top: 3vw;
}

.carousel-inner img { 
    max-width:100%;
    max-height:100%;
    width: auto; 
    height: auto; 
}