body, html, .container-fluid {
	height: 100%;
	font-family: theSans;
}
html{
	scroll-behavior: smooth;
}
.container-fluid{
	padding: 0 !important;
}
.frst-row{

	height: 40%;
}
.first-col{
	margin: auto;
	text-align: center;
}
.first-col-p{
	color:  #04172b;
	font-weight: bold;
}
.titles{
	background-color: white;
	-webkit-box-shadow: 0px 0px 62px -19px rgba(0,0,0,0.68);
	-moz-box-shadow: 0px 0px 62px -19px rgba(0,0,0,0.68);
	box-shadow: 0px 0px 62px -19px rgba(0,0,0,0.68);
}

.first-row{
	height: 60%;
	background-color: white;
}

.scnd-row{
	height: 15%;
	
}
.btn-div{
	text-align: center;
	margin: auto;
}
.btn-div button{
	background-color:#04172b;
}





.second-row{
	margin-top: 10%;
	height: 50%;
	width: 100%;


}

.third-row{
	height: 30%;
}
.fourth-row{
	height: 30%;
	background-color: #04172b;
	color: white;
}
.fourth-row div{
	border: 1px solid black;
}
.location{
	text-align: center;
	vertical-align: middle;
	margin-top: auto;
	margin-bottom: auto;
	color: green;
}
.row{
	margin-left: auto !important;
	margin-right: auto !important;
}
.bg-light{
	background: rgb(130,208,139);
	background: linear-gradient(90deg, rgba(4,23,43,1) 0%, rgba(4,23,43,1) 66%);
}
a {
	color: white !important;
}
.navbar-nav > li{
	margin-left:30px;
	margin-right:30px;
}





.fourth-sub{
	margin-top: auto;
	margin-bottom: auto;
}
.fifth-row{
	background-color: #04172b;
	color: white;
}








/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {

	.first-row{
		height: 61% !important;
	}

	.titles{
		margin-top: 20px;
	}
	.second-row{
		height: 61% !important;
	}

	
}


@media only screen and (max-width: 769px) {

	.first-row{
		height: 27%;
	}

	.titles{
		margin-top: 20px;
	}
	.second-row{
		height: 25%;
	}
	.contact-third-row{
		height: 12% !important;
	}
}


/*services style*/
.main-row{
	height: 30%;
}

.main-row-title{
	
	margin: auto;
	text-align: center;
}
.main-row p{
	color: #04172b;
	font-size: 40px;
}
.parallax-1,.parallax-2,.parallax-3{
	height: 60%;
	border:1px solid black;
}
.service-1,.service-2,.service-3{
	height: 50%;
	border:1px solid red;
	align-items: center;
}

.parallax-1{
	background-image: url("photos/parallax-1.jpg");
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}
.parallax-2{
	background-image: url("photos/parallax-2.jpg");
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;	
}
.parallax-3{
	background-image: url("photos/parallax-3.jpg");
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;	
}

.parallax-1-p,.parallax-2-p,.parallax-3-p{
	text-align: center;
	margin: auto;
	color: white;
	font-size: 75px;
}
.service-1-p,.service-2-p,.service-3-p{
	font-size: 30px;
	color: #04172b;
	text-align: center;
}
/*contact page*/
.contact-first-row{
	height: 29%;
	background-color: #04172b;
	color: white;
}
.contact-first-row div{
	border:1px solid black;
}
.contact-first-row-right{
	margin-top: auto;
	margin-bottom: auto;
}
.contact-first-row-right p{
	text-align: center;
}
.contanct-first-sub-row{
	height: 100%;
}
.contanct-first-sub-row p{
	text-align: center;
}
.col-left{
	margin: auto;
}

.contact-second-row{
	background-color: #04172b;
	height: 57%;
}
.contact-third-row {
	height: 5%;
	background-color: #04172b;
	color: white;
}
.contact-third-row p{
	margin: 0;
}
.map{
	height: 100%;
}
.container-fluid div{
	border:1px solid black;
}
input[type=text], select, textarea {
	width: 100%; /* Full width */
	border-radius: 4px; /* Rounded borders */
}

/* Style the submit button with a specific background color etc */
input[type=submit] {
	background-color: #04172b;
	color: white;
	border: none;
	border-radius: 4px;
	cursor: pointer;
}

/* When moving the mouse over the submit button, add a darker green color */
input[type=submit]:hover {
	background-color: #0410   2b;
}
label{
	color: white;
	float: right;
}
input,textarea{
	background-color: lightgrey;
}
form{
	text-align: center;
}