body, html, .container-fluid {
	height: 100%;
	font-family: FrutigerLT;
}
html{
	scroll-behavior: smooth;
}

.container-fluid{
	padding: 0 !important;
}

.first-row{
	height: 50%;
	background: rgb(130,208,139);
	background: linear-gradient(90deg, rgba(130,208,139,1) 0%, rgba(12,176,42,1) 66%);
}
.first-row-left
{
	background-image:  url('first.jpg') center center cover no-repeat fixed;

	background-image: url('first.jpg');
	background-size: cover;
	height: 100%;
	margin-top:20%;
	-webkit-box-shadow: 0px 0px 62px -19px rgba(0,0,0,0.68);
	-moz-box-shadow: 0px 0px 62px -19px rgba(0,0,0,0.68);
	box-shadow: 0px 0px 62px -19px rgba(0,0,0,0.68);
	border-radius: 3%;

}
.first-row-title{
	height: 50%;
	align-content: center;
}
.first-row-paragraph{
	height: 50%;
	align-content: center;
	color: white;
}
.first-row-header{
	margin:auto;
	color: white;
}
.first-row-p{
	color: white;
}
.first-row-p1{
	color: green;
}
.second-row{
	margin-top: 10%;
	height: 50%;
	width: 100%;


}
.second-row-right{
	border: 2px solid black;
	width: 100%;
	height: 100%;
	background-image: url('second.jpg');
	background-size: cover;
}
.second-row-right-img{

}
.second-row-p{
	color: green;
}
.third-row{
	height: 30%;
}
.location{
	text-align: center;
	vertical-align: middle;
	margin-top: auto;
	margin-bottom: auto;
	color: green;
}
.row{
	margin-left: auto !important;
	margin-right: auto !important;
}
.bg-light{
	background: rgb(130,208,139);
	background: linear-gradient(90deg, rgba(130,208,139,1) 0%, rgba(12,176,42,1) 66%);
}
a {
	color: white !important;
}
.navbar-nav > li{
	margin-left:30px;
	margin-right:30px;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {

	.first-row{
		height: 61% !important;
	}

	.titles{
		margin-top: 20px;
	}
	.second-row{
		height: 61% !important;
	}
}


@media only screen and (max-width: 769px) {

	.first-row{
		height: 27%;
	}

	.titles{
		margin-top: 20px;
	}
	.second-row{
		height: 25%;
	}
}


@font-face {
    font-family: 'FrutigerLT';
    src: url('fonts/FrutigerLTArabic-55Roman.eot');
    src: url('fonts/FrutigerLTArabic-55Roman.eot?#iefix') format('embedded-opentype'),
        url('fonts/FrutigerLTArabic-55Roman.woff2') format('woff2'),
        url('fonts/FrutigerLTArabic-55Roman.woff') format('woff'),
        url('fonts/FrutigerLTArabic-55Roman.ttf') format('truetype'),
        url('fonts/FrutigerLTArabic-55Roman.svg#FrutigerLTArabic-55Roman') format('svg');
}
@font-face {
	font-family: 'Hacen Samra';
	src: url('HacenSamra.eot');
    src: url('fonts/HacenSamra.eot?#iefix') format('embedded-opentype'),
        url('fonts/HacenSamra.woff2') format('woff2'),
        url('fonts/HacenSamra.woff') format('woff'),
        url('fonts/HacenSamra.ttf') format('truetype'),
        url('fonts/HacenSamra.svg#HacenSamra') format('svg');
    font-weight: normal;
    font-style: normal;
}
/*
@font-face {
  font-family: FontName1;
  src: url("fonts/fontname1.eot"); 
  src: local('fonts/FontName1'), url('fontname1.ttf') format('truetype');
}
@font-face {
  font-family: FontName2;
  src: url("fonts/fontname1.eot"); 
  src: local('fonts/FontName2'), url('fontname2.ttf') format('truetype');
}
@font-face {
  font-family: FontName3;
  src: url("fonts/fontname1.eot"); 
  src: local('fonts/FontName3'), url('fontname3.ttf') format('truetype');
}
*/