body, html, .container-fluid {
  height: 100%;
  font-family: FrutigerLT !important;
  font-family: HacenSamra !important;
}
html{
	scroll-behavior: smooth;
}

.container-fluid, .row{
	padding: 0 !important;
	margin: 0 !important;
}
/*div {
	border: 1px solid black;
  }*/
  /*_nav*/
  h5{
    font-size: 15px !important;
    padding: 0;
    margin: 0;
    margin-bottom: 0 !important;
    margin-left: 9px;
  }

  .navbar-nav a{
    font-size: 2rem !important;
    color: black !important;
  }
  a.active{
    background-color: #007bff;
    color: white !important;
  }
  .navbar{
    padding: 0 !important;
  }
  .nav-link{
    margin-left: 32px;
  }
  
  .navbar-brand{
    width: 6%;
    /* margin-top: 32px; */
    height: 0%;
    margin: 0 !important;
  }
  .navbar-brand img{
    width: 100%;
    height: 100%;
    margin-bottom: -10%;
  }
  /*nav*/
  /*first row*/

  .index-first-row{
   height: 88%;
   margin: 0 !important;
   background-image: url("ui/slider-1.jpg");
   background-repeat: no-repeat;
   background-size: cover;
   margin-top: 4% !important;

   color: white;
 }
 .index-first-row-title{
   height: 55%;
 }
 .index-first-row-title h1{
   text-align: right;
   padding-top: 7%;
   padding-right: 4%;
   font-size: 5vw;
 }

 .index-first-row-paragraph{
   width: 68%;
   text-align: right;
   float: right;
 }
 .index-first-row-paragraph h2{
   padding-right: 7%;
 }

 /*first row*/


 /*second row*/
 .index-second-row {
   height: 35%;
   margin-top: -7% !important;
 }

 .index-second-row-counters{
  background-color: white;
  margin: 1%;
  margin-left: 2%;
  margin-right: 2%;

  -webkit-box-shadow: 0px 0px 15px 8px rgba(0,0,0,0.42); 
  box-shadow: 0px 0px 15px 8px rgba(0,0,0,0.42);
}

.index-counter-row{
  height: 50%;
  text-align: center;
  padding-top: 8% !important;

}
.index-counter-row h1,.index-counter-row h2{
  width: 100%;
}
.index-counter-row h1{
  color: black !important;
  padding-top:5%;
}


/*second row*/

/*-----------------*/

/*third-row*/

.index-third-row{
  background: rgb(19,99,171);
  background: linear-gradient(90deg, rgba(19,99,171,1) 10%, rgba(116,134,212,1) 79%);
  height: 62%;
  color: white;

}
.index-third-row-shop{
  font-size: 7vw;
  text-align: center;
  padding: 25%;
}

.index-third-row-left{
  background-image: url(ui/store.png);

  background-repeat: no-repeat;
  background-size: cover;

}
#index-shop-button{
  display: none;
}

/*third-row*/

/*4----------------*/

/*fourth-row*/

.index-fourth-row{
  height: 20%;
}
.fourth-row-title{
  margin: auto;
  color: #2963a0 !important;

}

/*fourth-row*/



/*5-------------------------------*/

.index-fifth-row{
  height: 60%;
}
.index-carousel-item{
  height: 100%;
}
.index-carousel-row{
  height: 100%;
}
.index-carousel{
  width: 100%;
  height: 100%;
}
.index-carousel-title{
  height: 45%;
  padding-top: 12%;
}
.index-carousel-button{
  height: 40%;
  padding: 7%;

}
.index-carousel-col{

  -webkit-box-shadow: 0px 0px 15px 8px rgba(0,0,0,0.42); 
  box-shadow: 0px 0px 15px 8px rgba(0,0,0,0.42);
  padding: 0 !important;
  height: 88%;
    margin-top: 2%;
}
.index-carousel-header{
  height: 40%;
  background: rgb(19,99,171);
  background: linear-gradient(90deg, rgba(19,99,171,0.9556197478991597) 13%, rgba(116,134,212,1) 90%);
}
.index-carousel-footer1{
  height: 60%;
  background-image: url("ui/coding.jpg");
}
.index-carousel-footer2{
  height: 60%;
  background-image: url("ui/courses.jpg");
  background-size: cover;
}
.index-carousel-footer3{
  height: 60%;
  background-image: url("ui/arduino.jpg");
  background-size: cover;

}
.index-carousel-footer4{
  height: 60%;
  background-image: url("ui/web.jpg");
  background-size: cover;

}
.index-carousel-footer5{
  height: 60%;
  background-image: url("ui/it.jpg");
  background-size: cover;

}
.index-carousel-footer6{
  height: 60%;
  background-image: url("ui/coding.jpg");
}
#carousel-button{
  color: black !important;
  border-radius: 17%;
}











/*fifth-row*/










/*spacer  */
.index-fifth-spacer{
  width: 100%;
  height: 10%;
}

/*sixth-row*/

.index-sixth-row{
  height: 60%;
  background-image: url("ui/blog.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  /*background-attachment: fixed;*/
  background-position: left;

}
.index-sixth-row button{
  margin: auto;
}
.index-blog-right{
  background: rgb(19,99,171);
  background: linear-gradient(90deg, rgba(19,99,171,0) 13%, rgba(116,134,212,0.7539390756302521) 90%);
}
.index-sixth-row-blog{
  height: 50%;
  color: white;
  padding-top: 15% !important;
}
.index-sixth-row-button{
  height: 50%;
  padding: 0;
}
.index-blog-title{
  padding-left: 9%;
  font-size: 4vw;
}

/*sixth-row*/


/*seveneth-row*/

.index-seventh-row{
  height: 20%;

}
.index-seventh-row h1{
  margin: auto;
  color: black !important;
}
/*seventh-row*/


/*eighth-row*/
.index-eighth-row{
  height: 30%;
  margin-bottom: 2% !important;
}

.carousel, .carousel-inner{
  height: 100%;
}
/*eighth-row*/


/*ninth-row footer*/

.index-ninth-row{
  height: 75%;
  background: rgb(19,99,171);
  background: linear-gradient(90deg, rgba(19,99,171,1) 10%, rgba(116,134,212,1) 79%);
  color: white;
}

.index-up-button{
  height: 15%;
  width: 14%;
  padding-top: 2%;

}
.index-up-buttons{
  border-radius: 50% !important;
  margin-top: 3%;
  font-weight: bolder !important;
  font-size: 20px !important;
  z-index: 1000;
}

.index-map{
  height: 76%;
}
.index-social{
  height: 25%
}
/*----------------*/
/*.index-ninth-row a{
  color: black !important;
  }*/
  .index-services-footer {
    text-align: right;
    padding-top: 6%;
  }
  .index-services-footer a, .index-main-footer a{
    color: white !important;
  }
  .index-footer-services-wrapper{
    padding-top: 2%;
    }
  .index-main-footer{
    text-align: right;
    padding-top: 6%;
  }
  .index-main-footer h3, .index-services-footer h3{
    font-size: 16px;
  }
  .index-footer-row{
    height: 70%;
  }
  .index-footer-social{
    height: 21%;
  }
  .index-social-footer-button{
    height: 100%;
  }
  .social-button-1, .social-button-2, .social-button-3, .social-button-4, .social-button-5, .social-button-6{
    width: 60%;
    height: 60%;
    border-radius: 50%;
  } 
  .btn-light{
    color: #212529;
    background-color: #efefef;
    border-color: transparent !important;
  }
  .fa-instagram{
    color: #d22b1a;
  }
  .fa-linkedin{
    color: #18181f;
  }
.fa-twitter{
  color: #007bff9c;
}


  /*ninth-row footer*/
  .index-ninth-row a{
    color: #007bff
  }
  .index-footer-social a{
    font-size: 30px;
  }



  .bg-light{
    background: #ffffff;
    /*background: linear-gradient(90deg, #007bff 0%, #0062cc 66%);*/
  }
  
  a {
   color: white ;
 }
 .navbar-nav > li{
   margin-left:30px;
   margin-right:30px;
 }


 /*--------------------------------------main*/


 .blog-container{
  height: 2000px;s
}
.blog-first-row{
  height: 20%;
}
.blog-second-row{
  height: 5%;
}

.blog-second-row-container{
  width: 90%;
}












/*_--------------services----------------*/


.services-first-row{
  height: 90%
}
.services-filter-row{
  height: 14.28%;
}
.filter-row{
  height: 30%;
  width: 80%;
  margin: auto !important;
  margin-top: 2% !important;
}


.filtered{
  display: none !important;
}
.show{
  display: block !important;
}
.btn.active {
  background-color: #666;
  color: white;
}
.btn:hover {
  background-color: #ddd;
}

.services-filter-title{
  height: 50%;
  text-align: left;
  padding-left: 3% !important;
  padding-top: 4% ;
}
.services-filter-button{
  height: 50%;
  text-align: left;
  padding-left: 5% !important;
}

.design1{
  background-image: url("ui/coding.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}
.web1{
  background-image: url("ui/blog.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}
.dev1{
  background-image: url("ui/courses.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}
.row h1{
  color: white;
}

.ali button{
  width: 20%;
  height: 51%;
  border-radius: 26%;
}

















/*---------------------services--------------*/






/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {

  /*_________first-row-_________*/
  .index-first-row{
    height: 37% ;
  }
  .index-first-row-left{
    display: none;
  }
  .index-first-row-title{
    height: 39%;
    margin-top: 10%;
  }
  .index-first-row-title h1{
    font-size: 25px;
  }
  .index-first-row-paragraph{
    width: 100%;
    font-size: 18px;
    height: 40%
  }
  .index-first-row-paragraph h2{
    font-size: 18px;
  }
  .index-first-row-right
  {
    height: 100%;
  }
  /*____________third__________row*/

  .index-third-row{
    height: 26%;

  }
  .index-third-row-left{
    height: 100%;
  }
  .index-third-row-right{
    display: none;
  }
  #index-shop-button{
    display: block;
    margin: auto;
    margin-top: 20%;
  }

  /*___________fourth________________*/
  .index-fourth-row{
    height: 7%;
  }

  /*_________fifth_________________*/


  .index-fifth-row{
    height: 28%;
  }
  .index-fifth-row h2{
    font-size: 18px !important;
  }
  .index-carousel-button{
    padding: 0;
  }
  /*____________sixth_____________*/
  .index-sixth-row{
    height: 50%;
    text-align: center;
  }
  .index-sixth-row .col{
    display: none;  
  }

  /*___________seveneth______________*/
  .index-seventh-row{
    height: 10%;
  }
  /*_______________eighth_______________*/
  .index-eighth-row{
    height: 12%;
  }

  /*________index-up-button__________*/

  #index-up-botton-div{
    height: 0% !important;

  }

  .index-map{
    height: 75%;
  }
  .index-social{
    height: 10%;
  }
  #index-button{
    position: fixed;
    bottom: 40px;

  }

  .index-ninth-row-left{
    height: 52%;
  }
  .index-services-footer{
    display: none;
  }



  @media only screen and (max-width: 769px) {


  }


  @font-face {
    font-family: 'FrutigerLT';
    src: url('fonts/FrutigerLTArabic-55Roman.eot');
    src: url('fonts/FrutigerLTArabic-55Roman.eot?#iefix') format('embedded-opentype'),
    url('fonts/FrutigerLTArabic-55Roman.woff2') format('woff2'),
    url('fonts/FrutigerLTArabic-55Roman.woff') format('woff'),
    url('fonts/FrutigerLTArabic-55Roman.ttf') format('truetype'),
    url('fonts/FrutigerLTArabic-55Roman.svg#FrutigerLTArabic-55Roman') format('svg');
  }
  @font-face {
   font-family: 'Hacen Samra';
   src: url('HacenSamra.eot');
   src: url('fonts/HacenSamra.eot?#iefix') format('embedded-opentype'),
   url('fonts/HacenSamra.woff2') format('woff2'),
   url('fonts/HacenSamra.woff') format('woff'),
   url('fonts/HacenSamra.ttf') format('truetype'),
   url('fonts/HacenSamra.svg#HacenSamra') format('svg');
   font-weight: normal;
   font-style: normal;
 }
/*
@font-face {
  font-family: FontName1;
  src: url("fonts/fontname1.eot"); 
  src: local('fonts/FontName1'), url('fontname1.ttf') format('truetype');
}
@font-face {
  font-family: FontName2;
  src: url("fonts/fontname1.eot"); 
  src: local('fonts/FontName2'), url('fontname2.ttf') format('truetype');
}
@font-face {
  font-family: FontName3;
  src: url("fonts/fontname1.eot"); 
  src: local('fonts/FontName3'), url('fontname3.ttf') format('truetype');
}
*/