<!DOCTYPE html>
<html>
<head lang="ar">
	<title></title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" type="text/css" href="style.css">
	<script defer src="https://friconix.com/cdn/friconix.js"> </script>

</head>
<body>
	<div class="container">
		<div class="navigation-bar">
			<div class="logo">
				<img src="photos/logo.png">
			</div>
			<div></div>
			<div>
				<p> تواصل معنا</p>
			</div>
			<div>
				<p>خدماتنا</p>
			</div>
			<div>
				<p>الرئيسية</p>
			</div>
		</div>

		<div class="first-row">
			<div class="first-left">
				<img src="photos/main.jpg">
			</div>

			<div class="first-right">
				<div class="title">
					<p>مركز المنارة</p>
				</div>	

				<div class="title-p">
					<p>مع تصميمتنا عش بطريقة أكثر راحة</p>
				</div>
			</div>

		</div>

		<div class="second-row">
			<div>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
					tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
					quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
					consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
					cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
				proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
			</div>

		</div>


		<div class="third-row">

			<div class="third-left">
				<div class="left-box">
					<img src="photos/design.jpg">
				</div>
			</div>
			<div class="third-right">
				<div class="right-box">
					<div class="right-box-3-p">
						<p> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
						tempor incididunt ut labore et dolore </p>
					</div>
				</div>

			</div>

		</div>




		<div class="fourth-row">
			
			<div class="fourth-left">


				<div class="left-box-4">
					
					<div class="left-box-4-p">

						<p> stuff</p>
					</div>

				</div>
			</div>
			<div class="fourth-right">
				<div class="right-box-4">
					<img src="photos/design2.jpg">


				</div>
			</div>


		</div>
		<div class="fifth-row">
			<div>
				<p>تشرفنا بحضوركم</p>
			</div>
		</div>
		<div class="sixth-row">
			<div class="mapouter"><div class="gmap_canvas"><iframe width="1259" height="270" id="gmap_canvas" src="https://maps.google.com/maps?q=zawiyah%20&t=k&z=13&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe><a href="https://www.embedgooglemap.net/blog/nordvpn-coupon-code/"></a></div><style>.mapouter{position:relative;text-align:right;height:270px;width:1259px;}.gmap_canvas {overflow:hidden;background:none!important;height:270px;width:1259px;}</style></div>

		</div>



		<div class="seventh-row">
			
			<div class="seventh-left">
				<div>
					<p><i class="fi-snsuxl-facebook"></i> lorem@ipsum.com</p>
				</div>
				<div>
					<p> <i class="fi-xnsuxl-twitter"></i> lorem@ipsum.com</p>
				</div>
				<div>
					<p><i class="fi-xnsuxl-twitter"></i> lorem</p>
				</div>
				<div>
					<p><i class="fi-xnsuxl-twitter"></i> lorem</p>
				</div>
			</div>
			<div class="seventh-right">
				
			</div>
		</div>


	</div>



</body>
</html>