<!DOCTYPE html>
<html>
<head lang="ar">
	<!-- icons -->
	<script defer src="https://friconix.com/cdn/friconix.js"> </script>

	<!-- icons -->

	<title></title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta charset="utf-8">
	<link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
	<div class="container">
		<div class="cont">
			<div class="first">
				<div class="first-left">
					<div class="logo">
						<div>
							<img src="photos/logo1.png">
						</div>
						<div class="first-image">
						</div>

					</div>
					<div class="first-left-img ">
						
						<img src="photos/medicine.jpg">

					</div>

				</div>
				<div class="first-right">
					<div class="navigation-bar">
						<div>
							<p></p>
						</div>
						<div>
							<p></p>
						</div>
						<div>
							<p>تواصل معنا</p>
						</div>
						<div>
							<p>نبذة عنا</p>
						</div>
						<div>
							<p>الرئيسية</p>
						</div>

					</div>
					<div class="first-title">
						<p class="title"> صيدلية المسرة</p>
					</div>
					<div class="first-description">
						<p> توفر لكن صيدلية الشفاء  كل ماتحتاجونه  <br> من الادوية والمعدات الطبية <br> كما تتعامل بكل طرق الدفع بالكاش والبطاقات  <br> وخدمات الدفع الالكترونية <br>
						</p>
						<p>كما نوفر خدمات توصيل لكل ربوع الوطن العربي</p>
					</div>
				</div>
			</div>
			<div class="second">
				<div class="second-left-img" >
					<img src="photos/doctor.jpg">	
				</div>
				<div class="second-right">
					<p> توفر لكن صيدلية الشفاء  كل ماتحتاجونه  <br> من الادوية والمعدات الطبية <br> كما تتعامل بكل طرق الدفع بالكاش والبطاقات  <br> وخدمات الدفع الالكترونية <br>
					</p>
				</div>
			</div>
		</div>

		<div class="footer-info">
			<div class="first-row">
				<p>العنوان <br> الزاوية المدينة- القناعة</p>
			</div>

			<div class="second-row">
				<div>
					<p> <i class="fi-cnsuxl-whatsapp"></i> 0921655845</p>
				</div>
				<div>
					<p><i class="fi-cnsuxl-facebook-circle"></i> 0926542354</p>
				</div>
				<div>
					<p><i class="fi-snsuxl-twitter"></i> lorem ibsum </p>
				</div>

				<div></div>
				<div></div>
			</div>

			<div class="third-row">
				<div></div>
				<div></div>
			</div>
		</div>

	</div>
</body>
</html>