body{
	margin:0;
}
.container{
	display: grid;
	grid-template-rows: 20% 4% 49% 14% 14% 2%;
	width: 100%;
	height: 100%;
	margin: 0;
}
.container div{
	/*border: 1px solid black;*/
}
.nav-bar{
	display: grid;
	grid-template-columns: 33% 33% 34%;
}
.nav{
	display: grid;
	grid-template-columns: 20% 50% 30%;
	text-align: center;
	background-color: #152a3c;
	color: white;
}
.nav-logo img{
	width: 23%;
	height: 100%;
}
.third{
	display: grid;
	grid-template-rows: 40% 50% 10%;

}
.third-1{
	align-items: center;
	margin: auto;
}
.third-2{
	display: grid;
    grid-template-columns: 33% 33% 34%;
    background-repeat: no-repeat;
    background-image: url(photos/test.svg);
    background-size: cover;
}
}
.third-2 div{
	
}
.third-2-1,.third-2-2,.third-2-3{
	position: relative;
	margin: auto;
	height: 89%;
	width: 77%;
	-webkit-box-shadow: 0px 0px 18px -2px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 0px 18px -2px rgba(0,0,0,0.75);
	box-shadow: 0px 0px 18px -2px rgba(0,0,0,0.75);
}
.third-3{
	margin: auto;
	width: 9%;
	text-align: center;
}
button{
	background-color: #152a3c;
	color: white;
	width: 100%;
	border-radius: 8%;
	border: none;

}
.footer{
	display: grid;
	background-color: #152a3c;
	grid-template-columns: 33% 33% 33%;
	color: white;
}
.footer-l{
	display: grid;
	grid-template-rows: 25% 25% 25% 25%;
}
.footer-r, .footer-m{
	margin: auto;
}
.copy-rights{
	text-align:  center;
	background-color: #152a3c;
	color: white;
	width: 100%;
}
.box div{
	width: 30px;
	height: 30px;
	background-color: transparent;
	border: 3px solid black;
}
.box div:nth-child(1){
	top: 244%;
	left: 42%;
	animation: animate 10s linear infinite;
}
.box div:nth-child(2){
	top: 216%;
	left: 90%;
	animation: animate 10s linear infinite;
}
.box div:nth-child(3){
	top: 216%;
	left: 25%;
	animation: animate 10s linear infinite;
}
.box div:nth-child(4){
	top: 330%;
	left: 36%;
	animation: animate 10s linear infinite;
}
.box div:nth-child(5){
	top: 267%;
	left: 64%;
	animation: animate 10s linear infinite;
}
.box div:nth-child(6){
	top: 273%;
	left: 4%;
	animation: animate 10s linear infinite;
}
.box div:nth-child(7){
	top: 177%;
	left: 55%;
	animation: animate 10s linear infinite;
}
@keyframes animate{
	0%{
		transform: scale(1.3) translateY(0) rotate(0);
		opacity: 1;
	}
	100%{
		transform: scale(1.3) translatey(0) rotate(360deg);
		opacity: 1;
	}
}

* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
	position: relative;
	margin: auto;
	height: 100%;
}

/* Hide the images by default */
.mySlides {
	display: none;
	    height: 100%;

}

/* Next & previous buttons */
.prev, .next {
	cursor: pointer;
	position: absolute;
	top: 50%;
	width: auto;
	margin-top: -22px;
	padding: 16px;
	color: white;
	font-weight: bold;
	font-size: 18px;
	transition: 0.6s ease;
	border-radius: 0 3px 3px 0;
	user-select: none;
}

/* Position the "next button" to the right */
.next {
	right: 0;
	border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
	background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
	color: #f2f2f2;
	font-size: 15px;
	padding: 8px 12px;
	position: absolute;
	bottom: 8px;
	width: 100%;
	text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
	color: #f2f2f2;
	font-size: 12px;
	padding: 8px 12px;
	position: absolute;
	top: 0;
}

/* The dots/bullets/indicators */
.dot {
	cursor: pointer;
	height: 15px;
	width: 15px;
	margin: 0 2px;
	background-color: #bbb;
	border-radius: 50%;
	display: inline-block;
	transition: background-color 0.6s ease;
}

.active, .dot:hover {
	background-color: #717171;
}

/* Fading animation */
.fade {
	-webkit-animation-name: fade;
	-webkit-animation-duration: 2.5s;
	animation-name: fade;
	animation-duration: 2.5s;
}

@-webkit-keyframes fade {
	from {opacity: .4}
	to {opacity: 1}
}

@keyframes fade {
	from {opacity: .4}
	to {opacity: 1}
}
.carousel img{
	height: 100%;
}