.cont{
	background-image: url(photos/web.png);
	background-color: #ffffff;
	background-repeat: no-repeat;
	background-size: auto;
	width: 1259px;
	height: 1600px;
	margin: auto;
	display: grid;
	grid-template-rows: 50% 50%;
}
.container div{
	border: 1px solid red;

}
.container {
	display: grid;
	grid-auto-rows: 80% 20%;
	height: 2000px;
}
.first{
	display: grid;
	grid-template-columns: 50% 50%;
}
.first-left{
	display: grid;
	grid-template-rows: 10% 90%;
}
.first-right{
	display: grid;
	grid-template-rows: 10% 29% 50%;
}
.navigation-bar{
	display: grid;
	grid-template-columns:6% 7% 29% 29% 29%; 
}
.navigation-bar div{
	margin:auto;

}
.first-title{
	margin:auto;

}
.navigation-bar div p{
	color: white;
	font-size: 150%;
	font-weight: bold;
}
.title{
	color: white;
	font-size: 400%;
}
.first-description{
	color: green;
	text-align: right;
	font-size: 177%;
	/* margin: auto; */
	margin-top: 14%;
	margin-right: 5%;
}
.logo{
	display: grid;
	grid-template-columns: 15% 85%;
}
.logo img{
	margin: auto;
	width: 100%;
	height: 100%;
}
.first-left-img img{
	margin-top: 20%;
	width: 91%;
	height: 77%;
	border-radius: 50%;
	margin-left: 17%;
}
/* second*/
.second{
	display: grid;
	grid-template-columns: 40% 60%;

}
.second-right{
	margin:auto;
}
.second-right p{
	color: green;
	font-size: 208%;
}
.second-left-img{
	overflow-x: hidden;
}
.second-left-img img{
	width: 90%;
	height: 50%;
	margin-top: 50%;
	margin-left: -16%;
	border-radius: 50%;
}
.footer-info{
	width: 97%;
	margin-left: 1.5%;
	display: grid;
	grid-template-rows: 15% 15% 70%;
}
.first-row{
	text-align: right;
	font-size: 100%;
	font-weight: bold;
	margin-right: 5%;
}
.second-row{
	display: grid;
	grid-template-columns: repeat(5,20%);	
}
.third-row{
	display: grid;
	grid-template-columns: 50% 50%;
}
.fi-cnsuxl-whatsapp{
	color: green !important;
}
.fi-cnsuxl-facebook-circle{
	color: blue !important;
}
.fi-snsuxl-twitter{
	color: blue;
}