body{
	margin: 0;
}
.container{
	margin:auto;
	width: 1259px;
	height: 1600px;
	margin: auto;
	display: grid;
	grid-template-rows:  7% 15% 15% 15% 15% 15% 15%;
	margin-top: 4%;
}
.parallax-1{
	background-image: url("photos/parallax-1.jpg");
	min-height: 100%;
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;

}
.parallax-2{
	background-image: url("photos/parallax-2.jpg");
	min-height: 100%;
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;

}
.parallax-3{
	background-image: url("photos/parallax-3.jpg");
	min-height: 100%;
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;

}
.container div{
	border: 1px solid black;

}
.sticky {
	position: fixed;
	top: 0; 
	width: 100%;
	display: grid;
	grid-template-columns: 20% 50% 30%;
	height: 53px;
}
.sticky div{
	border: 1px solid black;
    color: white;
    background-color: #3168ad;
}

.navbar{
	display: grid;
	grid-template-columns: 33% 33% 33%;
	text-align: center;
}

.logo img{
	width: 18%;
	height: 99%;
	margin: auto;
}
.container div h1{
	text-align: center;
	margin: auto;
	/* top: 50%; */
	margin-top: 7%;
	color: deeppink;

}
.container div p{
	margin:auto;
	text-align: center;
}
.service-p{
	margin: auto;
}
